[submodule "Utils_19"]
	path = Utils_19
	url = https://github.com/Baneeishaque/Android_Common_Utils_API_19.git
[submodule "Utils_17"]
	path = Utils_17
	url = https://github.com/Baneeishaque/Android_Common_Utils_API_17.git
[submodule "Utils_Debug"]
	path = Utils_Debug
	url = https://github.com/Baneeishaque/Android_Common_Debug_Utils.git
[submodule "Utils_Java"]
	path = Utils_Java
	url = https://github.com/Baneeishaque/Java_Common_Utils.git
[submodule "Utils_9"]
	path = Utils_9
	url = https://github.com/Baneeishaque/Android_Common_Utis_9.git
[submodule "Utils_3"]
	path = Utils_3
	url = https://github.com/Baneeishaque/Android_Common_Utis_3.git